@page
@model ParkingManagementSystemPL.Pages.ReservationsModel
@using ParkingManagementSystem.DAL.Models
@using System.Text.Json
@{
    ViewData["Title"] = "Home page";
    var currentUserJson = HttpContext.Session.GetString("CurrentUser");
    var currentUser = !string.IsNullOrEmpty(currentUserJson)
        ? JsonSerializer.Deserialize<User>(currentUserJson)
        : null;
}

@if (currentUser != null)
{
    <script>
        var currentUserData = @Html.Raw(Json.Serialize(currentUser));
    </script>
} else
{
    return;
}

@using ParkingManagementSystemPL.Controllers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My ASP.NET Core App</title>
    <link rel="stylesheet" href="~/css/site.min.css" />  <!-- Make sure to use the correct path to your generated Tailwind CSS file -->
</head>
<body>
    <div class="flex">
        <!-- Sidebar -->
        <div class="bg-black text-white w-64 h-screen px-4 py-10">
            <h2 class="text-2xl font-semibold">My Profile</h2>
            <div class="h-full flex flex-col justify-between py-5">
                <div>
                    <li class="text-gray-300 hover:text-white font-bold">👋 Hello, @currentUser?.FirstName!</li>
                    <li id="reservationsLabel" class="text-gray-300 hover:text-white font-bold"></li>
                    @if (currentUser.IsAdmin)
                    {
                        <li id="usersLabel" class="text-gray-300 hover:text-white font-bold"></li>
                        <li id="showReservations" class="text-gray-300 hover:text-white font-bold hover:cursor-pointer">ADMIN: Reservation Table</li>
                        <li id="showUsers" class="text-gray-300 hover:text-white font-bold hover:cursor-pointer">ADMIN: Users Table</li>
                    }
                </div>
                <div>
                    <button id="update" class="bg-blue-800 rounded-xl py-2 w-full mb-5 hover:bg-blue-950 transition-all">Update account settings</button>
                    <button id="delete" class="bg-red-500 rounded-xl py-2 w-full hover:bg-red-700 transition-all">Delete account</button>
                </div>
            </div>
        </div>

        <div class="flex-1">
            <div class="w-full flex flex-row justify-center items-center text-2xl gap-x-10 py-10">
                <a asp-page="/Index" class="group inline-block relative">
                    <h1 class="relative z-20">Home</h1>
                    <div class="absolute w-full h-0.5 bg-blue-500 transform translate-y-full opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"></div>
                </a>

                <a asp-page="/Lots" class="group inline-block relative">
                    <h1 class="relative z-20">Parking Lots</h1>
                    <div class="absolute w-full h-0.5 bg-blue-500 transform translate-y-full opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"></div>
                </a>

                <a asp-page="/Dashboard" class="group inline-block relative">
                    <h1 class="relative z-20">Dashboard</h1>
                    <div class="absolute w-full h-0.5 bg-blue-500 transform translate-y-full opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"></div>
                </a>

                <a asp-page="/Contact" class="group inline-block relative">
                    <h1 class="relative z-20">Contact us</h1>
                    <div class="absolute w-full h-0.5 bg-blue-500 transform translate-y-full opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"></div>
                </a>
                @if (currentUser != null)
                {
                    <button id="logout" class="relative bg-blue-400 rounded-full px-5 py-2 text-white overflow-hidden transition duration-300 ease-in-out text-center transform hover:scale-105 hover:shadow-2xl">
                        <span class="absolute inset-0 bg-gradient-to-r from-blue-400 to-transparent mix-blend-multiply opacity-50 text-center"></span>
                        <span class="relative z-10 text-lg text-center">Log out</span>
                    </button>
                    <script type="module" src="./js//site.js"></script>
                }
                else
                {
                    <a asp-page="/Login" class="inline-block">
                        <button id="login" class="relative bg-blue-400 rounded-full px-5 py-2 text-white overflow-hidden transition duration-300 ease-in-out text-center transform hover:scale-105 hover:shadow-2xl">
                            <span class="absolute inset-0 bg-gradient-to-r from-blue-400 to-transparent mix-blend-multiply opacity-50 text-center"></span>
                            <span class="relative z-10 text-lg text-center">Log in</span>
                        </button>
                    </a>
                }

            </div>
            <h1 id="tableTitleReservations" class="text-center text-3xl font-bold">Your reservations</h1>

            <div id="tableReservations" class="overflow-y-auto max-h-[35vh] pt-5">
                <table class="min-w-full bg-white border border-gray-300 rounded">
                    <thead class="sticky top-0 z-1 bg-white">
                        <tr>
                            <th class="py-2 px-4 border-b">Reservation ID</th>
                            <th class="py-2 px-4 border-b">Lot ID</th>
                            <th class="py-2 px-4 border-b">Car Plate</th>
                            <th class="py-2 px-4 border-b">Start Time</th>
                            <th class="py-2 px-4 border-b">End Time</th>
                            <th class="py-2 px-4 border-b">Status</th>
                            <th class="py-2 px-4 border-b">Аctions</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyReservations"></tbody>

                </table>
            </div>

            <h1 id="tableTitleUsers" class="hidden text-center text-3xl font-bold">Manage Users</h1>

            <div id="tableUsers" class="hidden overflow-y-auto max-h-[35vh] pt-5">
                <table class="min-w-full bg-white border border-gray-300 rounded">
                    <thead class="sticky top-0 z-1 bg-white">
                        <tr>
                            <th class="py-2 px-4 border-b">User ID</th>
                            <th class="py-2 px-4 border-b">First Name</th>
                            <th class="py-2 px-4 border-b">Last Name</th>
                            <th class="py-2 px-4 border-b">Email</th>
                            <th class="py-2 px-4 border-b">Phone</th>
                            <th class="py-2 px-4 border-b">Reservations</th>
                            <th class="py-2 px-4 border-b">Admin</th>
                            <th class="py-2 px-4 border-b">Аctions</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyUsers"></tbody>

                </table>
            </div>

        </div>
        <div id="overlay" class="fixed inset-0 bg-black bg-opacity-50 hidden"></div>
        <div id="deleteModal" class="hidden bg-white p-6 rounded-xl shadow-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <h2 class="text-2xl font-bold mb-4 text-center">Confirmation</h2>
            <div class="flex flex-col gap-y-5">
                <input id="password" type="password" placeholder="Enter your password" class="w-[35vw] border-2 border-gray-300 py-2 px-5 rounded-full" />
            </div>
            <div class="w-full h-fit flex flex-row justify-end gap-x-5">
                <button id="closeModal" class="mt-4 px-4 py-2 bg-red-500 text-white rounded-xl hover:scale-110 transition transform duration-300">Cancel</button>
                <button id="deleteConfirmation" class="mt-4 px-4 py-2 bg-green-400 text-white rounded-xl hover:scale-110 transition transform duration-300">Delete account</button>
            </div>
        </div>

        <div id="updateModal" class="hidden bg-white p-6 rounded-xl shadow-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <h2 class="text-2xl font-bold mb-4 text-center">Update Account</h2>
            <div class="flex flex-col gap-y-5">
                <input id="FirstName" type="text" placeholder="Enter your (new) first name" class="w-[35vw] border-2 border-gray-300 py-2 px-5 rounded-full" />
                <input id="LastName" type="text" placeholder="Enter your (new) last name" class="w-[35vw] border-2 border-gray-300 py-2 px-5 rounded-full" />
                <input id="Email" type="email" placeholder="Enter your (new) email" class="w-[35vw] border-2 border-gray-300 py-2 px-5 rounded-full" />
                <input id="OldPassword" type="password" placeholder="Enter your old password" class="w-[35vw] border-2 border-gray-300 py-2 px-5 rounded-full" />
                <input id="NewPassword" type="password" placeholder="Enter your (new) password" class="w-[35vw] border-2 border-gray-300 py-2 px-5 rounded-full" />
                <input id="Phone" type="text" placeholder="Enter your (new) phone" class="w-[35vw] border-2 border-gray-300 py-2 px-5 rounded-full" />
            </div>
            <div class="w-full h-fit flex flex-row justify-end gap-x-5">
                <button id="closeUpdateModal" class="mt-4 px-4 py-2 bg-red-500 text-white rounded-xl hover:scale-110 transition transform duration-300">Cancel</button>
                <button id="updateConfirmation" class="mt-4 px-4 py-2 bg-green-400 text-white rounded-xl hover:scale-110 transition transform duration-300">Update account</button>
            </div>
        </div>

        <div id="updateReservationModal" class="hidden bg-white p-6 rounded-xl shadow-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <h2 class="text-2xl font-bold mb-4 text-center">Update Reservation</h2>
            <div class="flex flex-col gap-y-5">
                <select id="lot" placeholder="Choose parking lot" class="w-[35vw] border-2 border-gray-300 py-2 px-5 rounded-full">
                    <option value="" selected disabled>Choose a parking lot</option>
                </select>
                <input type="text" id="plate" placeholder="Enter your (new) car plate" class="w-[35vw] border-2 border-gray-300 py-2 px-5 rounded-full" />
                <input type="datetime-local" id="startDate" placeholder="Enter your (new) start date" class="w-[35vw] border-2 border-gray-300 py-2 px-5 rounded-full" />
                <select id="timestamp" placeholder="Choose date" class="w-[35vw] border-2 border-gray-300 py-2 px-5 rounded-full">
                    <option value="" selected disabled>Choose a timestamp</option>
                    <option value="60">1 hour</option>
                    <option value="120">2 hours</option>
                    <option value="180">3 hours</option>
                    <option value="360">6 hours</option>
                    <option value="720">12 hours</option>
                    <option value="1440">1 day</option>
                    <option value="4320">3 days</option>
                    <option value="7200">5 days</option>
                    <option value="10080">1 week</option>
                </select>
            </div>
            <div class="w-full h-fit flex flex-row justify-end gap-x-5">
                <button id="closeReservationModal" class="mt-4 px-4 py-2 bg-red-500 text-white rounded-xl hover:scale-110 transition transform duration-300">Cancel</button>
                <button id="updateReservationConfirmation" class="mt-4 px-4 py-2 bg-green-400 text-white rounded-xl hover:scale-110 transition transform duration-300">Update account</button>
            </div>
        </div>
    </div>

    <script src="./lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="module" src="~/js/dashboard.js"></script>
</body>
</html>
