@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My ASP.NET Core App</title>
    <link rel="stylesheet" href="~/css/site.min.css" />  <!-- Make sure to use the correct path to your generated Tailwind CSS file -->
</head>
<body>
    <div class="w-screen h-screen bg-blue-300 flex flex-col items-center justify-center">
        <h1>Parking Management System</h1>
    </div>
</body>
</html>
