@*@using Newtonsoft.Json
@using ParkingManagementSystem.DAL.Models*@

@page
@using ParkingManagementSystem.DAL.Models
@using System.Text.Json
@using ParkingManagementSystemPL.Controllers
@model ParkingManagementSystem.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
    var currentUserJson = HttpContext.Session.GetString("CurrentUser");
    var currentUser = !string.IsNullOrEmpty(currentUserJson) 
        ? JsonSerializer.Deserialize<User>(currentUserJson) 
        : null;
}

@if (currentUser != null)
{
    <script>
        var currentUserData = @Html.Raw(Json.Serialize(currentUser));
    </script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My ASP.NET Core App</title>
    <link rel="stylesheet" href="~/css/site.min.css" />  <!-- Make sure to use the correct path to your generated Tailwind CSS file -->
</head>
<body>
    <div class="w-screen h-screen bg-[url('/assets/background.jpeg')] bg-cover bg-center bg-no-repeat bg-opacity-10">
        <div class="w-screen flex flex-row justify-center items-center text-2xl gap-x-10 pt-16 text-white">
            <a asp-page="/Index" class="group inline-block relative">
                <h1 class="relative z-20">Home</h1>
                <div class="absolute w-full h-0.5 bg-blue-500 transform translate-y-full opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"></div>
            </a>

            <a asp-page="/Lots" class="group inline-block relative">
                <h1 class="relative z-20">Parking Lots</h1>
                <div class="absolute w-full h-0.5 bg-blue-500 transform translate-y-full opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"></div>
            </a>

            @if(currentUser != null)
            {
                <a asp-page="/Dashboard" class="group inline-block relative">
                    <h1 class="relative z-20">Dashboard</h1>
                    <div class="absolute w-full h-0.5 bg-blue-500 transform translate-y-full opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"></div>
                </a>
            }

            <a asp-page="/Feedback" class="group inline-block relative">
                <h1 class="relative z-20">Feedback</h1>
                <div class="absolute w-full h-0.5 bg-blue-500 transform translate-y-full opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"></div>
            </a>
            
            @if (currentUser != null)
            {
                <button id="logout" class="relative bg-blue-400 rounded-full px-5 py-2 text-white overflow-hidden transition duration-300 ease-in-out text-center transform hover:scale-105 hover:shadow-2xl">
                    <span class="absolute inset-0 bg-gradient-to-r from-blue-400 to-transparent mix-blend-multiply opacity-50 text-center"></span>
                    <span class="relative z-10 text-lg text-center">Log out</span>
                </button>
                <script type="module" src="./js/site.js"></script>
            }
            else
            {
                <a asp-page="/Login" class="inline-block">
                    <button id="login" class="relative bg-blue-400 rounded-full px-5 py-2 text-white overflow-hidden transition duration-300 ease-in-out text-center transform hover:scale-105 hover:shadow-2xl">
                        <span class="absolute inset-0 bg-gradient-to-r from-blue-400 to-transparent mix-blend-multiply opacity-50 text-center"></span>
                        <span class="relative z-10 text-lg text-center">Log in</span>
                    </button>
                </a>
            }
        </div>

        <div class="pt-52 lg:pt-24 w-screen pl-24 lg:pl-14 2xl:pl-32 bg-opacity-25">
            <h1 class="text-blue-400 font-bold text-5xl lg:text-3xl 2xl:text-5xl">Park with Ease. Travel with Confidence</h1>
            <h1 class="text-8xl lg:text-5xl 2xl:text-8xl font-black text-white lg:max-w-lg max-w-3xl 2xl:max-w-3xl pt-6">We assure your parking spot!</h1>
            <h1 class="text-white font-semibold text-3xl lg:text-xl max-w-2xl py-10">Effortless parking, just a click away. Explore, reserve, and travel stress-free with our intuitive Parking Management System. Your journey, simplified.</h1

        </div>

        <a asp-page="/Lots" class="inline-block">
            <button class="bg-white px-8 py-4 rounded-full text-blue-400 text-3xl lg:text-xl 2xl:text-2xl font-semibold transition duration-300 ease-in-out transform hover:scale-105">
                Reserve your spot
            </button>
        </a>
    </div>
    
    <script src="./lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        if(currentUserData != null) toastr.success(`Welcome, ${currentUserData.firstName} ${currentUserData.lastName}!`);
    </script>
</body>
</html>
