@page
@model ParkingManagementSystemPL.Pages.LotsModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My ASP.NET Core App</title>
    <link rel="stylesheet" href="~/css/site.min.css" />  <!-- Make sure to use the correct path to your generated Tailwind CSS file -->
</head>
<body>
    <div class="w-screen min-h-screen bg-blue-300 overflow-x-hidden">
        <div class="w-screen flex flex-row justify-center text-2xl gap-x-10 pt-16 text-white">
            <a asp-page="/Index"><h1>Home</h1></a>
            <a asp-page="/Lots"><h1>Parking Lots</h1></a>
            <a asp-page="/Reservations"><h1>My Reservations</h1></a>
            <a asp-page="/Contact"><h1>Contact us</h1></a>

            <a asp-page="/Login"><button class="bg-blue-400 rounded-full px-5 py-2 text-white">Log in</button></a>
        </div>
        <h1 class="text-center text-5xl text-white font-semibold underline pt-32 2xl:pt-20">Available Parking Lots</h1>
        <div class="flex flex-col justify-center items-center 2xl:grid 2xl:grid-cols-2 2xl:place-items-center pt-20 gap-y-32 pb-20">
            <div class="w-[60vw] h-[15vh] 2xl:w-[40vw] 2xl:h-[35vh]">
                <div class="bg-blue-800 w-full h-full"></div>

                <div class="flex flex-row text-xl justify-between items-center pt-5">
                    <h1>Parking Lot 1</h1>
                    <h1 class="font-semibold">Available spaces: 202/202</h1>
                    <button class="px-7 py-3 bg-green-500 rounded-full text-white font-semibold">Reserve</button>
                </div>
            </div>

            <div class="w-[60vw] h-[15vh] 2xl:w-[40vw] 2xl:h-[35vh]">
                <div class="bg-blue-800 w-full h-full"></div>

                <div class="flex flex-row text-xl justify-between items-center pt-5">
                    <h1>Parking Lot 1</h1>
                    <h1 class="font-semibold">Available spaces: 202/202</h1>
                    <button class="px-7 py-3 bg-green-500 rounded-full text-white font-semibold">Reserve</button>
                </div>
            </div>

            <div class="w-[60vw] h-[15vh] 2xl:w-[40vw] 2xl:h-[35vh]">
                <div class="bg-blue-800 w-full h-full"></div>

                <div class="flex flex-row text-xl justify-between items-center pt-5">
                    <h1>Parking Lot 1</h1>
                    <h1 class="font-semibold">Available spaces: 202/202</h1>
                    <button class="px-7 py-3 bg-green-500 rounded-full text-white font-semibold">Reserve</button>
                </div>
            </div>

            <div class="w-[60vw] h-[15vh] 2xl:w-[40vw] 2xl:h-[35vh]">
                <div class="bg-blue-800 w-full h-full"></div>

                <div class="flex flex-row text-xl justify-between items-center pt-5">
                    <h1>Parking Lot 1</h1>
                    <h1 class="font-semibold">Available spaces: 202/202</h1>
                    <button class="px-7 py-3 bg-green-500 rounded-full text-white font-semibold">Reserve</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
