@page
@model ParkingManagementSystemPL.Pages.ReservationsModel
@{
    ViewData["Title"] = "Home page";
    var currentUser = UserSession.Instance.currentUser;
    if (currentUser != null) Console.WriteLine(currentUser.FirstName);

}

@if (currentUser != null)
{
    <script>
        var currentUserData = @Html.Raw(Json.Serialize(currentUser));
    </script>
}
else
{
    return;
    <script>
        var currentUserData = null;
        console.log("currentUserData after logout:", currentUserData);
        window.location.href("/");
    </script>
}
@using ParkingManagementSystemPL.Controllers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My ASP.NET Core App</title>
    <script src="~/js/reservations.js"></script>
    <link rel="stylesheet" href="~/css/site.min.css" />  <!-- Make sure to use the correct path to your generated Tailwind CSS file -->
</head>
<body>
    <div class="flex">
        <!-- Sidebar -->
        <div class="bg-black text-white w-64 h-screen px-4 py-10">
            <h2 class="text-2xl font-semibold">My Reservations</h2>
            <ul class="mt-4">
                <li><a asp-page="/Reservations" class="text-gray-300 hover:text-white">Hello, @UserSession.Instance.currentUser.FirstName</a></li>
                <li><a asp-page="/Index" class="text-gray-300 hover:text-white">Link 2</a></li>
                <li><a asp-page="/Index" class="text-gray-300 hover:text-white">Link 3</a></li>
            </ul>
        </div>

        <div class="flex-1">
            <div class="w-full flex flex-row justify-center items-center text-2xl gap-x-10 py-10">
                <a asp-page="/Index" class="group inline-block relative">
                    <h1 class="relative z-20">Home</h1>
                    <div class="absolute w-full h-0.5 bg-blue-500 transform translate-y-full opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"></div>
                </a>

                <a asp-page="/Lots" class="group inline-block relative">
                    <h1 class="relative z-20">Parking Lots</h1>
                    <div class="absolute w-full h-0.5 bg-blue-500 transform translate-y-full opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"></div>
                </a>

                <a asp-page="/Reservations" class="group inline-block relative">
                    <h1 class="relative z-20">Reservations</h1>
                    <div class="absolute w-full h-0.5 bg-blue-500 transform translate-y-full opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"></div>
                </a>

                <a asp-page="/Contact" class="group inline-block relative">
                    <h1 class="relative z-20">Contact us</h1>
                    <div class="absolute w-full h-0.5 bg-blue-500 transform translate-y-full opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"></div>
                </a>
                @if (UserSession.Instance.currentUser != null)
                {
                    <button id="logout" class="relative bg-blue-400 rounded-full px-5 py-2 text-white overflow-hidden transition duration-300 ease-in-out text-center transform hover:scale-105 hover:shadow-2xl">
                        <span class="absolute inset-0 bg-gradient-to-r from-blue-400 to-transparent mix-blend-multiply opacity-50 text-center"></span>
                        <span class="relative z-10 text-lg text-center">Log out</span>
                    </button>
                    <script src="./js//site.js"></script>
                }
                else
                {
                    <a asp-page="/Login" class="inline-block">
                        <button id="login" class="relative bg-blue-400 rounded-full px-5 py-2 text-white overflow-hidden transition duration-300 ease-in-out text-center transform hover:scale-105 hover:shadow-2xl">
                            <span class="absolute inset-0 bg-gradient-to-r from-blue-400 to-transparent mix-blend-multiply opacity-50 text-center"></span>
                            <span class="relative z-10 text-lg text-center">Log in</span>
                        </button>
                    </a>
                }

            </div>
            <h1 class="text-center text-3xl font-bold">Your reservations</h1>

            <div class="overflow-y-auto max-h-[35vh] pt-5">
                <table class="min-w-full bg-white border border-gray-300 rounded">
                    <thead class="sticky top-0 z-1 bg-white">
                        <tr>
                            <th class="py-2 px-4 border-b">Reservation ID</th>
                            <th class="py-2 px-4 border-b">Lot ID</th>
                            <th class="py-2 px-4 border-b">Car Plate</th>
                            <th class="py-2 px-4 border-b">Start Time</th>
                            <th class="py-2 px-4 border-b">End Time</th>
                            <th class="py-2 px-4 border-b">Status</th>
                            <th class="py-2 px-4 border-b">Аctions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>

            <div class="pt-10 pb-5 w-full flex flex-col justify-center items-center gap-y-7">
                <h1 class="text-center text-3xl font-bold">Create a reservation</h1>

                <select class="w-[50%] border-2 border-gray-400 py-1 rounded-full pl-5 bg-gray-300 bg-opacity-20" placeholder="Choose a parking lot">
                    <option value="" selected disabled>Choose a parking lot</option>
                    <option>Parking Lot 1</option>
                    <option>Parking Lot 1</option>
                    <option>Parking Lot 1</option>
                    <option>Parking Lot 1</option>
                </select>
                <input type="date" class="w-[50%] border-2 border-gray-400 py-1 rounded-full pl-5 bg-gray-300 bg-opacity-20" placeholder="Choose a date" />
                <select class="w-[50%] border-2 border-gray-400 py-1 rounded-full pl-5 bg-gray-300 bg-opacity-20" placeholder="Choose a timestamp">
                    <option value="" selected disabled>Choose a timestamp</option>
                    <option>1 hour</option>
                    <option>2 hours</option>
                    <option>3 hours</option>
                    <option>6 hours</option>
                    <option>12 hours</option>
                    <option>1 day</option>
                    <option>3 days</option>
                    <option>5 days</option>
                    <option>1 week</option>
                    </>
                    <input class="w-[50%] border-2 border-gray-400 py-1 rounded-full pl-5 bg-gray-300 bg-opacity-20" placeholder="Enter car plate" />
                    <div class="flex flex-row justify-end w-1/2">
                        <button id="goToCheckout" class="mt-4 px-4 py-2 bg-green-400 text-white rounded-xl hover:scale-110 transition transform duration-300">Go to checkout</button>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
